<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include new_header.html -%}
   <!--<YOUR HEADER IMG HERE>

    {%- if site.title-logo -%}
    <img src="{{site.title-logo | relative_url }}" alt="{{site.title | escape }}" width="50px" height="50px"></img>
   {%- else -%}
    {{ site.title | escape}}
    {%- endif -%}
    <img src="images/openblog_logo_transparent.png" alt="123">-->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>